Temp/*
Temp/__Backupscenes/0.backup
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/UnityLockfile
Temp/UnityTempFile-f5c0a4142ff6aa441b58526e82192479
Temp/workerlic
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
